


<div class="container mt-5">

  <table id="myTable" class="table table-striped" style="width:100%">
    <thead>
      <th>Date</th>
      <th>Details</th>
      <th>Payment Method</th>
      <th>Status</th>
      <th>Amount</th>
      <th>change Status</th>
    </thead>
    <tbody>
      {{#each Items}}
        <tr>
          <td>{{this.date}}</td>
          <td>
            OrderId:
            {{this._id}}
            <br />
            {{this.deliveryDetails.address}}

            <br />
            {{this.deliveryDetails.city}}
            <br />
            {{this.deliveryDetails.country}}</td>
          <td>{{this.paymentMethod}}</td>
          <td>{{this.status}}</td>
          <td data-order="1000">₹{{this.deliveryDetails.totalAmount}}</td>
          <td data-order="1000">

            <select
              class="form-select"
              aria-label="Default select example"
              onchange="changeOrderStatusAdmin('{{this._id}}',value);"
            >

              <option
                class="bg-primary disabled"
                value="pending"
              >{{this.status}}</option>
              <option value="pending">Pending</option>
              <option value="delivered">Delivered</option>
              <option value="cancel">Cancel</option>
            </select>
            <a
              href="/admin/admin-view-order-details/{{this._id}}"
              class="btn btn-primary mt-3"
            >view details</a>

          </td>
        </tr>
      {{/each}}
    </tbody>

  </table>
</div>
