
<div class="container d-flex justify-content-center mt-3">

  <div class="row container-fluid p-5">
    <div
      class="myChartDiv col-lg-7"
      style="width: 500px; height:350px; background-color:rgb(255, 255, 255); border-radius:10px; box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;"
    >
      <canvas id="myChart" width="600px" height="350px"></canvas>
    </div>

    <div class="col-lg-5 container-fluid d-flex justify-content-center">
      <div
        class="myChartDiv"
        style="width: 400px; height:400px;background-color:rgb(255, 255, 255); border-radius:10px; box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;"
      >
        <canvas id="myChart1" width="200px" height="200px"></canvas>
      </div>
    </div>

  </div>

</div>

<div style="margin-top:30px;" class="container d-flex justify-content-center">
  <div class="row container">
    <div class="col-md-6 col-xl-4">
      <div
        class="card mb-3 widget-content bg-white"
        style="box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;"
      >
        <div class="widget-content-wrapper text-white">
          <div class="widget-content-left">
            <div class="widget-heading text-dark">Total Orders</div>
            <div class="widget-subheading text-dark">total number of orders</div>
          </div>
          <div class="widget-content-right">
            <div class="widget-numbers text-white"><span
                class="p-3 text-muted"
              >{{total}}</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div
        class="card mb-3 widget-content bg-white"
        style="box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;"
      >
        <div class="widget-content-wrapper text-white">
          <div class="widget-content-left">
            <div class="widget-heading text-dark">Clients</div>
            <div class="widget-subheading text-dark">Total Clients </div>
          </div>
          <div class="widget-content-right">
            <div class="widget-numbers text-white"><span
                class="p-3 text-muted"
              >{{users}}</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div
        class="card mb-3 widget-content bg-white"
        style="box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;"
      >
        <div class="widget-content-wrapper text-white">
          <div class="widget-content-left">
            <div class="widget-heading text-dark">Profit</div>
            <div class="widget-subheading text-dark">2022</div>
          </div>
          <div class="widget-content-right">
            <div class="widget-numbers text-muted"><span
                class="p-3"
              >{{yearly}}</span></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
  type: 'bar', data: { labels: ["Last 7 days", "last 30 days", "last 365 days"],
  datasets: [{ label:'total revenue', data: [{{weekly}},{{monthly}},{{yearly}}] , backgroundColor: ["#3282B8", "#0F4C75", "#151965"],
  }], }, options: { plugins: { legend: { align: 'end', position: 'top', labels:
  { padding: 5, boxWidth: 5, usePointStyle: true, }, }, } } });
</script>

<script>
  var ctx = document.getElementById("myChart1").getContext("2d"); 
  let gradient = ctx.createLinearGradient(0,0,0,400)
  gradient.addColorStop(0,'rgba(58,123,213,1)')
  gradient.addColorStop(1,'rgba(0,210,255,0.3)')
  var chart = new Chart(ctx, {  type: 'doughnut', data: { labels: ["COD","RAZORPAY","PAYPAL" ], datasets: [ {
  label: "Sales", backgroundColor: [ 'rgb(255, 99, 132)', 'rgb(54, 162, 235)',
  'rgb(255, 205, 86)' ], data: [{{cod.total}},{{razorpay.total}},{{paypal.total}}, ], }, ], },  options: { layout: {
  padding: 10, }, legend: { position: "bottom", }, title: { display: true, text:"gate way stats", }, }, });
</script>
<script src="https://npmcdn.com/chart.js@latest/dist/chart.min.js"></script>