<section class="h-100 h-custom" style="background-color: #d2c9ff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div
          class="card card-registration card-registration-2"
          style="border-radius: 15px;"
        >
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div
                    class="d-flex justify-content-between align-items-center mb-5"
                  >
                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                  
                  </div>
             
                       {{#if emptyCart}}
                   <p class="text-danger" >Add atleast one product to checkout </p>
                   {{/if}}
                   {{#each data}}
                  <hr class="my-4" />

                  <div
                    class="row mb-4 d-flex justify-content-between align-items-center"
                  >
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img
                        src="/{{{this.product.Image.[0]}}}"
                        class="img-fluid rounded-3"
                        alt="Cotton T-shirt"
                      />
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-muted">{{this.product.name}}</h6>
                      <h6 class="text-black mb-0">{{this.product.category}}</h6>
                        <h6 class="mb-0 text-muted mt-2">Each - ₹ {{this.product.price}}</h6>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <button
                       style="height:30px;"
                        class="btn btn-link mr-2 text-decoration-none bg-dark"
                       onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1,'{{../user._id}}')"
                      >

                        <i class="fi fi-rr-minus-small"></i>
                      </button>
                        <span  style="width: 60px;"
                       id="{{this.product._id}}"
                        name="quantity"
                        type="number"
                        class="form-control form-control-sm">
                           {{this.quantity}}
                          
                        </span>        

                      <button
                      style="height:30px;"
                        class="btn btn-link ml-2 bg-dark text-decoration-none"
                       onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1,'{{../user._id}}')"
                      >
                        <i class="fi fi-rr-plus-small"></i>
                      </button>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                    <span class="d-felx">₹<i id="ID{{this.product._id}}">{{this.subtotal}}</i></span> 
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end mr-4">
                      <button   onclick="deleteProduct('{{this._id}}','{{this.product._id}}')"   class="btn btn-danger btn-md">Remove</button>
                    </div>
                  </div>
                  {{/each}}

                  

                  <div class="pt-5">
                    <h6 class="mb-0"><a href="#!" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"
                        ></i>Back to shop</a></h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4" />

                  <div class="d-flex justify-content-between mb-4">
                      
                    <h5 class="text-uppercase">items {{cartCount}}</h5>
                   
                  </div>


                 

                  <div id="form-coupon" class="mb-5 ">
                     <h5 class="text-uppercase mb-3">Give code</h5>
                    <form id="coupon-form">
                    <div class="form-outline">
                      <input
                      name="couponCode"
                        type="text"
                        id="form3Examplea2"
                        class="form-control form-control-lg"
                       
                      />
                      <input name="userId" value="{{user._id}}" type="text" hidden>
                      <label class="form-label" for="form3Examplea2">Enter your
                        code</label>
                        <button
                    type="submit"
                    class="btn btn-dark btn-block btn-md"
                    data-mdb-ripple-color="dark"
                  > Apply</button>
                    </div>
                   </form>
                  </div>

                   {{#each data}}

                  <div class="d-flex ">
                      <span >{{this.product.name}}  -  ₹ {{this.product.price}} <br> Quantity - {{this.quantity}}</span>
                     
                    </div>
                     <hr class="my-4" />
                      {{/each}}

                  

                  <div class="d-flex justify-content-between mb-4">
                    
                    <h6 class="text-uppercase">Shipping</h6>
                     <h6 id="shipping-fee">free</h6>
                  </div>
                  {{#if coupDetails.[0].couponDiscount}}
              <div id="cOne-deleted" class="d-flex justify-content-between mb-3">
                    
                    <h6 class="text-uppercase">Coupon</h6>
                    <span class="d-flex "> <h6 id="c-off" >{{coupDetails.[0].couponDiscount}}% Off </h6> <i onclick="deleteCoupon('{{user._id}}')" class="fi fi-br-cross-circle text-danger" style="padding-left:10px;"></i> </span>
                  </div>
                  {{/if}}
                  {{#if coupDetails.[0].couponDiscount}}
              <div id="cOne-deleted" class="d-flex justify-content-between mb-3">
                    
                    <h6 class="text-uppercase">Item total -</h6>
                    <span class="d-flex text-danger"> ₹<h6 class="text-danger fw-bold" id="c-off" >{{beforDisc}} </h6> </span>
                  </div>
                  {{/if}}

                  

                  {{#if coupDetails.[0].couponDiscount}}
              <div id="cOne-deleted" class="d-flex justify-content-between mb-3">
                    
                    <h6 class="text-uppercase"> Coupon discount - </h6>
                    <span class="d-flex "> <h6 id="c-off" >- ₹{{actual}} </h6> </span>
                  </div>
                  {{/if}}

                  

                   <hr class="my-4" />
                   <div id="c-deleted" class="d-flex justify-content-between mb-3" style="visibility:hidden;">
                    
                    <h6 class="text-uppercase">Coupon</h6>
                    <span class="d-flex "> <h6 id="c-off" >{{coupDetails.[0].couponDiscount}} </h6>% Off <i onclick="deleteCoupon('{{user._id}}')" class="fi fi-br-cross-circle text-danger" style="padding-left:10px;"></i> </span>
                  </div>
                   
                  <div class="d-flex justify-content-between mb-5">
                    
                    <h5 class="text-uppercase fw-bold">Grand total</h5>
                   <span class="d-flex">₹ <h5 id="total">{{total}}</h5></span>  
                  </div>
                   
                   <a class="text-decoration-none" href="/checkout">
                  <button
                    type="button"
                    class="btn btn-dark btn-block btn-lg"
                    data-mdb-ripple-color="dark"
                  > checkout</button></a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

