
<div style="margin-left: 0; margin-right:0; height:100%;" class="bg-gray-300 pt-5 row container-fluid mt-5">

  <div class="col-lg-8">
    <div
      class="max-w-md mx-auto bg-white shadow-lg rounded-lg md:max-w-xl mx-2"
    >
      <div class="md:flex">
        <div class="w-full p-4 px-5 py-5">
          <div class="flex flex-row">
            <h2 class="text-3xl font-semibold">Z</h2>
            <h2 class="text-3xl text-green-400 font-semibold text-primary">- Fashions</h2>
          </div>

          <form  id="check-out-form">
            <span>Shipping Address</span>
            <div class="grid md:grid-cols-2 md:gap-2">
              <input
                type="text"
                name="FirstName"
                class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm"
                placeholder="First name*"
                required
              />
              <input
                type="text"
                name="userId"
                placeholder="First name"
                value="{{user._id}}"
                hidden
              />
              <input
                type="text"
                name="LastName"
                class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm"
                placeholder="Last name*"
                required
              />
            </div>

            <input
              type="text"
              name="Address"
              class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm"
              placeholder="Address*"
              required
            />
            <input
              type="text"
              name="Apartment"
              class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm"
              placeholder="Apartment, suite, etc."
              required
            />
            <div class="grid md:grid-cols-3 md:gap-2">
              <input
                type="text"
                name="Zipcode"
                class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm"
                placeholder="Zipcode*"
                required
              />
              <input
                type="text"
                name="City"
                class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm"
                placeholder="City*"
                required
              />
              <input
                type="text"
                name="State"
                class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm"
                placeholder="State*"
                required
              />
            </div>
            <input
              type="text"
              name="Country"
              class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm"
              placeholder="Country*"
              required
            />
            <input
              type="text"
              name="PhoneNumber"
              class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm"
              placeholder="Phone Number*"
              required
            />
            <select id="payment" class="form-select mt-4 w-50"  name="PaymentMethod" aria-label="Default select example ">
            <option  name="COD" value="COD">COD</option>
            <option  name="RazorPay" value="RazorPay">RazorPay</option>
            <option  name="PayPal" value="PayPal">PayPal</option>
            <option  name="Wallet" value="Wallet">Wallet(₹{{userAd.wallet}})</option>
            </select>
            
              {{#if userAd.wallet}}
              <div class="form-check m-3">
               
       <input class="form-check-input" name="wallet" type="checkbox" value="true" id="walletCheck">
       <label class="form-check-label" for="flexCheckDefault">
        Wallet ₹{{userAd.wallet}}
       </label>
       </div>
            {{/if}}
        
            <div class="flex justify-between items-center pt-2">
              <button
                type="button"
                class="h-12 w-24 text-blue-500 text-xs font-medium"
              >Return to cart</button>

              <button
                type="submit"
                class="h-12 w-48 rounded font-medium text-xs bg-blue-500 text-white"
              >Place Order</button>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {{! second option }}
  
  {{#if defaultAddress}}
  <div class="col-lg-4">
     <div
    class="container col-lg-12  mx-auto bg-white shadow-lg rounded-lg"
    style="height: 230px;"
  >
    <div class="container-fluid mt-3 p-4">
      <h5 class="fw-bold">Default-Address</h5>

      <div class="container-fluid">
         <label for="">{{defaultAddress.FirstName}} {{defaultAddress.LastName}}</label>
         <label for="">{{defaultAddress.Address}},{{defaultAddress.Apartment}}</label>
         <label for="">{{defaultAddress.Zipcode}}</label>
         <label for="">{{defaultAddress.City}}</label>
         <label for="">{{defaultAddress.State}}</label>
          <br>
         <label for="">{{defaultAddress.Country}}</label>
         <label for="">{{defaultAddress.deliveryPhone}}</label>
        
      </div>
      <form id="Default-Address"  class=" container-fluid" >
        
           <input
              type="text"
              name="FirstName"
           
              placeholder="First name*"
              required hidden
              value="{{defaultAddress.FirstName}}"
              
            />
            <input
              type="text"
              name="userId"
              placeholder="First name"
              value="{{userAd._id}}"
              hidden
             
            />
            <input
              type="text"
              name="LastName"
              class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm"
              placeholder="Last name*"
              required hidden
              value="{{defaultAddress.LastName}}"
            />
        
         
          <input
            type="text"
            name="Address"
            class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm"
            placeholder="Address*"
            required hidden
            value="{{defaultAddress.Address}}"
          />
          <input
            type="text"
            name="Apartment"
            class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm"
            placeholder="Apartment, suite, etc."
            required hidden
            value="{{defaultAddress.Apartment}}"
          />
          <div class="grid md:grid-cols-3 md:gap-2">
            <input
              type="text"
              name="Zipcode"
              class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm"
              placeholder="Zipcode*"
              required hidden
              value="{{defaultAddress.Zipcode}}"
            />
            <input
              type="text"
              name="City"
              class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm"
              placeholder="City*"
              required hidden
              value="{{defaultAddress.City}}"
            />
            <input
              type="text"
              name="State"
              class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm"
              placeholder="State*"
              required hidden
              value="{{defaultAddress.State}}"
            />
          </div>
          <input
            type="text"
            name="Country"
            class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm"
            placeholder="Country*"
            required hidden
            value="{{defaultAddress.Country}}"
          />
          <input
            type="text"
            name="PhoneNumber"
            class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm"
            placeholder="Phone Number*"
            required hidden
             value="{{defaultAddress.deliveryPhone}}"
          />

       
        <button class="btn btn-primary mt-2" style="font-size: 13px;" type="submit">Deliver to this address</button>
        </form>



        </div>




 
        
    </div>
 {{!-- SUPPORT --}}

     <div
    class="container col-lg-12  mx-auto bg-white shadow-lg rounded-lg"
    style="height: 200px;"
  >
    <div class="container-fluid mt-3 p-4">
      <h5 class="fw-bold">Payment details</h5>

      <div class="container-fluid">
         
          {{#if discounted}}
          <label class="fw-bold" for="">Item total: ₹ {{totalPrice}}</label>
         <br>
         <label class="fw-bold" for="">coupon:  -₹  {{discounted}}</label>
         <br>
         {{/if}}
         <label class="fw-bold" for="">Shipping : free</label>
         <br>
         <label class="fw-bold" for="">Grand Total: ₹ {{total}}</label>
         

  
        
      </div>
      



        </div>

 {{!-- SUPPORT --}}


 
        
    </div>
  </div>
  
  
  {{/if}}

  
  
  </div>

</div>




{{!-- <div class="bg-gray-300 pt-5 row container-fluid">
 
 
  <div class="py-12  col-lg-8">
    <div
      class="max-w-md mx-auto bg-white shadow-lg rounded-lg md:max-w-xl mx-2"
    >
      <div class="md:flex">
        <div class="w-full p-4 px-5 py-5">
          <div class="flex flex-row">
            <h2 class="text-3xl font-semibold">Z</h2>
            <h2 class="text-3xl text-green-400 font-semibold">- Fashions</h2>
          </div>
  
         <form id="check-out-form"  method="POST">
          <span>Shipping Address</span>
          <div class="grid md:grid-cols-2 md:gap-2">
            <input
              type="text"
              name="FirstName"
              class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm"
              placeholder="First name*"
              required
            />
            <input
              type="text"
              name="userId"
              placeholder="First name"
              value="{{user._id}}"
              hidden
            />
            <input
              type="text"
              name="LastName"
              class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm"
              placeholder="Last name*"
              required
            />
          </div>
         
          <input
            type="text"
            name="Address"
            class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm"
            placeholder="Address*"
            required
          />
          <input
            type="text"
            name="Apartment"
            class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm"
            placeholder="Apartment, suite, etc."
            required
          />
          <div class="grid md:grid-cols-3 md:gap-2">
            <input
              type="text"
              name="Zipcode"
              class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm"
              placeholder="Zipcode*"
              required
            />
            <input
              type="text"
              name="City"
              class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm"
              placeholder="City*"
              required
            />
            <input
              type="text"
              name="State"
              class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm"
              placeholder="State*"
              required
            />
          </div>
          <input
            type="text"
            name="Country"
            class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm"
            placeholder="Country*"
            required
          />
          <input
            type="text"
            name="PhoneNumber"
            class="border rounded h-10 w-full focus:outline-none focus:border-green-200 px-2 mt-2 text-sm"
            placeholder="Phone Number*"
            required
          />

          <div class="form-check m-2">
  <input class="form-check-input" type="radio" name="PaymentMethod" value="COD" id="flexRadioDefault1" checked>
  <label class="form-check-label" for="flexRadioDefault1">
    Cash on delivery
  </label>
</div>
<div class="form-check m-2">
  <input class="form-check-input" type="radio" name="PaymentMethod" value="RazorPay" id="flexRadioDefault2" >
  <label class="form-check-label" for="flexRadioDefault2">
    via razor pay
  </label>
</div>
<div class="form-check m-2">
  <input class="form-check-input" type="radio" name="PaymentMethod" value="PayPal" id="flexRadioDefault3" >
  <label class="form-check-label" for="flexRadioDefault3">
    via paypal
  </label>
</div>
          <div class="flex justify-between items-center pt-2">
            <button
              type="button"
              class="h-12 w-24 text-blue-500 text-xs font-medium"
            >Return to cart</button>
           
            <button
              type="submit"
              class="h-12 w-48 rounded font-medium text-xs bg-blue-500 text-white"
            >Place Order</button>
          
          </div>
           </form>
        </div>
      </div>
    </div>
  </div>
 
</div> --}}

