<div class="container demo">

  <table class="table table-no-more mt-4">
    <thead>
      <tr>
        <th>Date</th>
        <th>Delivery details</th>
        <th>Address</th>
        <th>Amount</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
        {{#each orders}}
      <tr>
        <td> {{this.date}}</td>
        <td>Order Id:{{this._id}} <br> {{this.deliveryDetails.mobile}}</td>
        <td>{{this.deliveryDetails.address}}</td>
        <td>{{this.deliveryDetails.totalAmount}}</td>
        <td>{{this.status}}</td>
        <td> <a class="btn btn-primary" href="/view-order-details/{{this._id}}">View Details</a> <button class="btn btn-danger mt-3" onclick="cancelOrder('{{this._id}}')">Cancel</button> </td>
        
        
      </tr>
      {{/each}}
    </tbody>
  </table>

</div><!-- container -->

<footer class="demo-footer">
  <a href="http://www.bootpen.com" target="_blank"></a>
</footer>