<section id="services" class="services section-bg container">
  <div class="container-fluid mt-5">
   
    <div class="row row-sm">
      <div class="col-md-6 _boxzoom">
        <div class="zoom-thumb">
          <ul class="piclist">
            
            <li><img src="/{{Product.Image.[0]}}" alt="" /></li>
            <li><img src="/{{Product.Image.[1]}}" alt="" /></li>
            <li><img src="/{{Product.Image.[2]}}" alt="" /></li>
            <li><img
                src="/{{Product.Image.[3]}}"
                alt=""
              /></li>
          </ul>
        </div>
        <div class="_product-images">
          <div class="picZoomer">
            <img class="my_img" src="/{{Product.Image.[0]}}" alt="" />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="_product-detail-content">
          <p class="_p-name">{{Product.name}}</p>
          <div class="_p-price-box">
            <div class="p-list">
              <span>
                M.R.P. :
                <i class="fa fa-inr"></i>
                <del> 1600/ </del>
              </span>
              <span class="price text-muted">{{Product.price}} </span>
            </div>
          
            <div class="_p-features">
              <span> Description About this product:- </span>
             {{Product.description}}
            </div>
          
              <ul class="spe_ul"></ul>
              <div class="_p-qty-and-cart">
                <div class="_p-add-cart">
                
                  <button onClick="addToCart('{{Product._id}}')" class="btn-theme btn btn-primary" tabindex="0">
                    <i class="fa fa-shopping-cart"></i>
                    Add to Cart
                  </button>
                  <input type="hidden" name="pid" value="18" />
                  <input type="hidden" name="price" value="850" />
                  <input type="hidden" name="url" value="" />
                </div>
              </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





