


<div  class="container row" style="margin-top:40px;" >   
  
{{#each products}}
<div class="col-md-3 mb-2 d-flex justify-content-center container-fluid prod-card m-3">
  
       
      <div>
        <a href="/view-product/{{this.product._id}}" class="text-decoration-none ">
        <img
          src="/{{this.product.Image.[0]}}"
          class="card-img-top"
          alt="..."
          style="width: 230px; height:230px"
        />
        <div class="d-flex" style="width: 100%;"> 
        <h5 class="fs-6 mt-2">{{this.product.name}}</h5> 
         <a class="nav-link me-4" style="float: right;" href="#"><i class="fi fi-rs-heart"></i></a>
         </div>
        <div class=" d-flex">

          <p class="card-text">₹{{this.product.price}}</p>
          
         <!-- <a onclick="addToCart({{this._id}})" href="" id="add-to-cart" class="btn text-white" style=" border-radius:5px; margin-left:80px; width: 94px; height:30px; font-size:13px;  background-color: #c48ac9;">Add to Cart</a>-->
         
        </div>
        </a>
        </div>
        </div>

        {{/each}}
        </div>

   