<div class="container mt-5 pb-5">
  <div class="container-fluid pb-5 d-flex justify-content-center">
    <h1 class="mt-4">wallet history</h1>
  </div>
  <p class="fw-bold">  Wallet: ₹{{wallet.wallet}}</p>
  <table id="example" class="ui celled table" style="width:100%">
  
    <thead>
      <tr>
        <th>*</th>
        <th>date</th>
        <th>order</th>
        <th>amount</th>
        

      </tr>
    </thead>
    <tbody>
      {{#each data.[0].transactions}}
        <tr>

          <td>*</td>
          <td>{{this.date}}</td>
          <td>{{this.orderId}}</td>
          <td>{{#if this.debit}} - ₹{{this.amount}}{{/if}} {{#if this.credit}} + ₹{{this.amount}} {{/if}} </td>

        </tr>
      {{/each}}

    </tbody>
  </table>
</div>